*{
	margin:0;
	padding:0;
}
body{
	color:white;
	font-family:"Microsoft YaHei",tahoma,arial,"Hiragino Sans GB","\5b8b\4f53",sans-serif;
	font-size:14px;
	/*background: #215296 url(../images/bg.png) no-repeat center 0;*/
}
li{
	list-style: none;
}
img{
	border:0;
}
a{
	color: white;
	text-decoration:none;
}
a:hover{
	color: white;
	text-decoration:none;
}


















